## Deliverable 2. Create a Customer Travel Destinations Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [32]:
# 1. Import the WeatherPy_database.csv file. 
city_data_to_load = "C:/Users/rafae/OneDrive/Documents/pandas_practice/week6/Weather_database/WeatherPy_database.csv"
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ahipara,NZ,-35.17,173.17,58.06,74,96,13.24,overcast clouds
1,1,Qaanaaq,GL,77.48,-69.36,43.23,67,17,4.21,few clouds
2,2,Sorland,NO,67.67,12.69,51.66,89,100,29.84,overcast clouds
3,3,Pangnirtung,CA,66.15,-65.71,50.94,68,64,3.65,broken clouds
4,4,Port-Gentil,GA,-0.72,8.78,75.16,83,100,11.50,overcast clouds

In [33]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 100

In [34]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Port-Gentil,GA,-0.72,8.78,75.16,83,100,11.50,overcast clouds
5,5,Union,US,40.63,-74.27,82.29,50,0,8.05,clear sky
8,8,Avarua,CK,-21.21,-159.78,75.25,60,40,17.27,scattered clouds
10,10,Hamilton,US,39.18,-84.53,78.24,79,75,1.01,broken clouds
12,12,Ponta Delgada,PT,37.73,-25.67,77.50,100,75,9.22,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
669,669,Ormara,PK,25.21,64.64,82.71,81,100,3.62,overcast clouds
672,672,Road Town,VG,18.42,-64.62,82.49,77,0,18.43,clear sky
674,674,Manokwari,ID,-0.87,134.08,81.09,69,57,3.02,broken clouds
675,675,Nha Trang,VN,12.25,109.18,77.00,88,97,4.18,overcast clouds
679,679,Sabla,NG,12.75,4.71,82.74,68,100,14.70,overcast clouds

In [35]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                282
City                   282
Country                282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Current Description    282
dtype: int64

In [36]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Port-Gentil,GA,-0.72,8.78,75.16,83,100,11.50,overcast clouds
5,5,Union,US,40.63,-74.27,82.29,50,0,8.05,clear sky
8,8,Avarua,CK,-21.21,-159.78,75.25,60,40,17.27,scattered clouds
10,10,Hamilton,US,39.18,-84.53,78.24,79,75,1.01,broken clouds
12,12,Ponta Delgada,PT,37.73,-25.67,77.50,100,75,9.22,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
669,669,Ormara,PK,25.21,64.64,82.71,81,100,3.62,overcast clouds
672,672,Road Town,VG,18.42,-64.62,82.49,77,0,18.43,clear sky
674,674,Manokwari,ID,-0.87,134.08,81.09,69,57,3.02,broken clouds
675,675,Nha Trang,VN,12.25,109.18,77.00,88,97,4.18,overcast clouds
679,679,Sabla,NG,12.75,4.71,82.74,68,100,14.70,overcast clouds

In [37]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port-Gentil,GA,75.16,overcast clouds,-0.72,8.78,
5,Union,US,82.29,clear sky,40.63,-74.27,
8,Avarua,CK,75.25,scattered clouds,-21.21,-159.78,
10,Hamilton,US,78.24,broken clouds,39.18,-84.53,
12,Ponta Delgada,PT,77.50,light intensity shower rain,37.73,-25.67,
16,Atuona,PF,77.20,light rain,-9.80,-139.03,
22,Tateyama,JP,83.10,broken clouds,34.98,139.87,
23,Albany,US,77.41,broken clouds,42.60,-73.97,
26,Rikitea,PF,75.29,broken clouds,-23.12,-134.97,
27,Virginia Beach,US,78.06,thunderstorm,36.85,-75.98,

In [38]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.notnull().sum()

City                   282
Country                282
Max Temp               282
Current Description    282
Lat                    282
Lng                    282
Hotel Name             282
dtype: int64

In [40]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port-Gentil,GA,75.16,overcast clouds,-0.72,8.78,Fengshui Residence
5,Union,US,82.29,clear sky,40.63,-74.27,Homewood Suites by Hilton Newark-Cranford
8,Avarua,CK,75.25,scattered clouds,-21.21,-159.78,Paradise Inn
10,Hamilton,US,78.24,broken clouds,39.18,-84.53,Six Acres Bed & Breakfast
12,Ponta Delgada,PT,77.50,light intensity shower rain,37.73,-25.67,Vila Nova Hotel
...,...,...,...,...,...,...,...
669,Ormara,PK,82.71,overcast clouds,25.21,64.64,Kenara Colony House for Rent
672,Road Town,VG,82.49,clear sky,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"
674,Manokwari,ID,81.09,broken clouds,-0.87,134.08,Swiss Belhotel Manokwari
675,Nha Trang,VN,77.00,overcast clouds,12.25,109.18,Hanoi Golden Hotel
679,Sabla,NG,82.74,overcast clouds,12.75,4.71,

In [41]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacations.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))