## Deliverable 3. Create a Travel Itinerary Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
city_data_to_load ="C:/Users/rafae/OneDrive/Documents/pandas_practice/week6/Vacation_Search/WeatherPy_vacations.csv"
vacation_df = pd.read_csv(city_data_to_load)
vacation_df.head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Port-Gentil,GA,75.16,overcast clouds,-0.72,8.78,Fengshui Residence
1,5,Union,US,82.29,clear sky,40.63,-74.27,Homewood Suites by Hilton Newark-Cranford
2,8,Avarua,CK,75.25,scattered clouds,-21.21,-159.78,Paradise Inn
3,10,Hamilton,US,78.24,broken clouds,39.18,-84.53,Six Acres Bed & Breakfast
4,12,Ponta Delgada,PT,77.50,light intensity shower rain,37.73,-25.67,Vila Nova Hotel
5,16,Atuona,PF,77.20,light rain,-9.80,-139.03,Villa Enata
6,22,Tateyama,JP,83.10,broken clouds,34.98,139.87,Tateyama Seaside Hotel
7,23,Albany,US,77.41,broken clouds,42.60,-73.97,NaN
8,26,Rikitea,PF,75.29,broken clouds,-23.12,-134.97,People ThankYou
9,27,Virginia Beach,US,78.06,thunderstorm,36.85,-75.98,Hilton Virginia Beach Oceanfront
10,28,Hambantota,LK,78.64,overcast clouds,6.12,81.12,Bungalow 63
11,30,Hithadhoo,MV,77.79,moderate rain,-0.60,73.08,Scoop Guest House
12,31,Savannah Bight,HN,82.54,few clouds,16.45,-85.85,Villa on Dunbar Rock
13,35,Bethel,US,80.69,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
14,37,Eirunepe,BR,81.09,broken clouds,-6.66,-69.87,Pousada Novo Acre
15,38,Namatanai,PG,82.99,broken clouds,-3.67,152.43,Seagulls Inn Namatani
16,40,Las Vegas,US,96.24,clear sky,36.17,-115.14,Plaza Hotel & Casino
17,42,Andros Town,BS,85.96,broken clouds,24.70,-77.77,Hanks place
18,43,Liuzhou,CN,79.03,clear sky,24.31,109.39,Linjiang Inn
19,48,Sabzevar,IR,81.43,few clouds,36.21,57.68,منزل عبدالوهاب برهانی سبزوار

In [36]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [38]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Rock Springs"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rock Springs"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Dickinson"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Black Forest"] 
vacation_stops = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

In [43]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
205,511,Rock Springs,US,90.23,clear sky,41.59,-109.2,Homewood Suites by Hilton Rock Springs

In [44]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,159,Saint Anthony,US,76.1,overcast clouds,45.02,-93.22,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [45]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
44,124,Dickinson,US,95.09,few clouds,29.46,-95.05,"Candlewood Suites League City, an IHG Hotel"

In [46]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
211,520,Black Forest,US,79.95,broken clouds,39.01,-104.7,Datt Properties

In [47]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
205,511,Rock Springs,US,90.23,clear sky,41.59,-109.2,Homewood Suites by Hilton Rock Springs

In [48]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (41.59, -109.2), End: (41.59, -109.2)
Stop 1: (45.02, -93.22), Stop 2: (29.46, -95.05), Stop 3: (39.01, -104.7)

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='600px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(vacation_stops,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,511,Rock Springs,US,90.23,clear sky,41.59,-109.20,Homewood Suites by Hilton Rock Springs
1,159,Saint Anthony,US,76.10,overcast clouds,45.02,-93.22,"Holiday Inn Express Roseville-St. Paul, an IHG..."
2,124,Dickinson,US,95.09,few clouds,29.46,-95.05,"Candlewood Suites League City, an IHG Hotel"
3,520,Black Forest,US,79.95,broken clouds,39.01,-104.70,Datt Properties

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map.
figure_layout = {
    'width': '820px',
    'height': '820px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='820px', padding='1px', width='820px'))